<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volk & David Management Systems</title>


    <!-- font awesome files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">



</head>



<body>



    <!-- header section -->
    <%- include("partials/header.ejs") %>

        <!-- main content section start -->
        <section class="mainSection container" style=" padding: 0px; margin: auto;">

            <!-- left side bar -->
            <%- include("partials/sideBar.ejs") %>



                <!-- main container -->
                <div class="mainContentBar mt-2">

                    <div class="notificationOuterBox">

                        <div class="notificationBoxHeader">
                            <span class="headerTitle">
                                Generate invoice
                            </span>
                            <div class="selectCustomerDropDown">
                                <select class="form-control selectCustomerList">
                                    <option value="false">Select Customer</option>

                                    <option value="true">New Invoice</option>
                                    <%if(userDetial){%>
                                        <option selected value="<%=userDetial._id%>">
                                            <%=userDetial.name%>
                                        </option>
                                        <%}%>
                                            <%for(var x=0; x< customerList.length; x++){%>
                                                <option value="<%=customerList[x]._id%>">
                                                    <%=customerList[x].name%>
                                                </option>
                                                <%}%>
                                </select>
                            </div>
                        </div>
                        <hr>

                        <div class="container" style="overflow:hidden;">


                            <div class="generateInvoiceLogoSection">
                                <div class="generateInvoiceLogo">
                                    <img src="/upload/logo 3.PNG">
                                </div>

                            </div>


                            <form method="POST" class="generateInvoiceForm" id="invoiceForm">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <label>Name:<span style="color: red;">*</span></label>
                                        <input type="text" value="<%if(userDetial){%> <%=userDetial.name%> <%}%>"
                                            name="name" class="form-control" id="name">

                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                                        <label>Address:<span style="color: red;">*</span></label>
                                        <input type="text" name="address"
                                            value="<%if(userDetial){%> <%=userDetial.Address%> <%}%>"
                                            class="form-control" id="address">
                                        <span class="error"></span>

                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>Email:<span style="color: red;">*</span></label>
                                        <input type="email" name="email"
                                            value="<%if(userDetial){%> <%=userDetial.email%> <%}%>" class="form-control"
                                            id="email">

                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>Phone:<span style="color: red;">*</span></label>
                                        <input type="text" name="phone" class="form-control" id="phone"
                                            value="<%if(userDetial){%> <%=userDetial.phone%> <%}%>">
                                        <span id="validNumErrorMsg" style="color:red; font-size:10px;"></span>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>NTN No:<span style="color: red;">*</span></label>
                                        <input type="text" name="ntnNum" class="form-control" id="ntnNumber">
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>Invoice No:<span style="color: red;">*</span></label>
                                        <input type="text" name="invoiceNum" class="form-control" id="invoiceNumber">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>INC No:<span style="color: red;">*</span></label>
                                        <input type="text" name="incNum" class="form-control" id="incNumber">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>Date:<span style="color: red;">*</span></label>
                                        <input type="text" placeholder="Select Date" name="date" class="form-control"
                                            id="date">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>Payment Method:<span style="color: red;">*</span></label>
                                        <input type="text" name="paymentMethod" class="form-control" id="paymentMethod">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                        <label>Account Title:<span style="color: red;">*</span></label>
                                        <input type="text" name="AccountTitle" class="form-control" id="AccountTitle">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                                        <label>Account Number:<span style="color: red;">*</span></label>
                                        <input type="number" name="AccountNumber" class="form-control InputTypeNumber"
                                            id="AccountNumber">
                                    </div>

                                </div>



                            </form>



                            <div class="generateInvoiceTable mt-2">

                                <div class="tableDiv">
                                    <div class="generateTableHead">

                                        <h6>
                                            Description
                                        </h6>
                                        <h6>
                                            Qty
                                        </h6>
                                        <h6>
                                            Unit Price
                                        </h6>
                                        <h6>
                                            Total Price
                                        </h6>
                                        <h6>
                                            Discount
                                        </h6>
                                        <h6>
                                            Net Price
                                        </h6>

                                    </div>
                                    <div class="generateTableBody">
                                        <div>
                                            <input type="text" name="description"
                                                class="form-control gnInvoiceTblData description">
                                        </div>
                                        <div>
                                            <input type="number" name="qty" class="form-control gnInvoiceTblData qty"
                                                min="1">
                                        </div>
                                        <div>
                                            <input type="number" name="unitPrice"
                                                class="form-control gnInvoiceTblData numberData unitPrice">
                                        </div>
                                        <div>
                                            <input type="text" name="totalPrice"
                                                class="form-control gnInvoiceTblData numberData totalPrice">
                                        </div>
                                        <div>
                                            <input type="text" name="discount"
                                                class="form-control gnInvoiceTblData numberData discount">
                                        </div>
                                        <div>
                                            <input type="text" name="netPrice"
                                                class="form-control gnInvoiceTblData numberData netPrice">
                                        </div>
                                    </div>
                                </div>
                                <div class="addRowBtn mt-2">
                                    <button id="addMoreInvoiceItemBtn">Add More</button>
                                </div>

                                <div class="generateInvoiceSecondTable mt-2">
                                    <table>
                                        <tbody class="generateTableBody savedData"></tbody>
                                    </table>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                                    <label>Amount in Words:</label>
                                    <input type="text" class="form-control" id="AmntInWords">
                                </div>
                            </div>


                            <div class="invoiceSummaryBox mt-5">

                                <div class="invoiceSummary" style="margin-left: auto;">
                                    <h3>Summary</h3>
                                    <div class="invoiceDeteDetialsItem">
                                        <span class="invoiceDateTitle"> SubTotal:</span>
                                        <span style="color: black;" id="subTotal">0.00</span>
                                    </div>
                                    <div class="invoiceDeteDetialsItem">
                                        <span class="invoiceDateTitle"> Tax:</span>
                                        <span style="color: black;"><input type="number" class="InputTypeNumber"
                                                value="0" id="addTax"></span>
                                    </div>
                                    <div class="invoiceDeteDetialsItem">
                                        <span class="invoiceDateTitle"> Total:</span>
                                        <span style="color: black;" id="grandTotal">0.00</span>
                                    </div>
                                </div>

                            </div>
                            <input type="submit" class="generateInviceBtn" value="Generate Invoice"
                                id="generateInviceBtn">

                                
                            <div class="invoiceSummary mt-5" style="font-size: 13px;">
                                <div class="invoiceDeteDetialsItem" style="border: none;">
                                    <span class="invoiceDateTitle">Address:</span>
                                    <span style="color: black;">
                                        Office No.4, 1st Floor, Al-Rehman Center, 70-Ferozepur Road, Shama Stop, Lahore
                                    </span>
                                </div>
                                <div class="invoiceDeteDetialsItem" style="border: none;">
                                    <span class="invoiceDateTitle">Phone:</span>
                                    <span style="color: black;">
                                        0302-2999904 / 042-37420169
                                    </span>
                                </div>
                                <div class="invoiceDeteDetialsItem" style="border: none;">
                                    <span class="invoiceDateTitle">Web:</span>
                                    <span style="color: black;">
                                        volksanddavid.com
                                    </span>
                                </div>
                                <div class="invoiceDeteDetialsItem" style="border: none;">
                                    <span class="invoiceDateTitle">Email:</span>
                                    <span style="color: black;">
                                        info@volksanddavid.com
                                    </span>
                                </div>

                            </div>






                        </div>
                    </div>



                    <footer class="mt-5">

                        <div>
                            <p>
                                copyright 2021
                            </p>
                        </div>
                        <div>
                            <p>
                                Made by wide range digital services
                            </p>
                        </div>
                    </footer>
                </div>


        </section>

</body>
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/assets/js/index.js"></script>


<script>

    $(document).ready(function () {


        var savedData = document.getElementsByClassName('savedData')[0]
        function sessionData() {
            var data = sessionStorage.getItem('data')
            if (data) {
                data = JSON.parse(data)
                var html = "";
                data.forEach(function (data, index) {

                    html += `<tr class="generateInvoiceRow mt-1">
                                            <td>
                                                <input type="text" name="description" value="item ${index + 1}"
                                                    class="form-control gnInvoiceTblData " readonly>
                                            </td>
                                            <td>
                                                <input type="text" name="description" value="${data.description}"
                                                    class="form-control gnInvoiceTblData " readonly>
                                            </td>
                                            <td>
                                                <input type="number" name="qty"
                                                    class="form-control gnInvoiceTblData " value="${data.qty}" readonly>
                                            </td>
                                            <td>
                                                <input type="text" name="unitPrice"
                                                    class="form-control gnInvoiceTblData  " value="${data.unitPrice}" readonly>
                                            </td>
                                            <td>
                                                <input type="number" name="totalPrice"
                                                    class="form-control gnInvoiceTblData  " value="${data.totalPrice}" readonly>
                                            </td>
                                            <td>
                                                <input type="text" name="discount"
                                                    class="form-control gnInvoiceTblData  " value="${data.discount}" readonly>
                                            </td>
                                            <td>
                                                <input type="text" name="netPrice"
                                                    class="form-control gnInvoiceTblData  " value="${data.netPrice}" readonly>
                                            </td>

                                            <td class="deleteInvoiceItemBtn">
                                                <i class="fas fa-trash" id="deleteInvoiceItemBtn"></i>
                                            </td>

                                        </tr>`

                })
                savedData.innerHTML = html


            }


        }

        sessionData()



        // maing subTotal and Total Price
        function subTotalPrice() {
            var Itmes = sessionStorage.getItem('data');
            Itmes = JSON.parse(Itmes);
            if (Itmes != null) {

                if (Itmes.length > 0) {
                    allPrices = []
                    Itmes.forEach(function (item, index) {
                        allPrices.push(item.netPrice)
                    });
                    sum = allPrices.reduce(function (a, b) { return JSON.parse(a) + JSON.parse(b); });

                    $("#subTotal").html(sum + ".00")

                }
            }

        } subTotalPrice();


        function grandTotal() {
            // grandTotal
            var subTotal = $("#subTotal").html();
            subTotal = parseInt(subTotal)
            $('#grandTotal').html(subTotal + ".00");
            var addTax = document.getElementById('addTax');

            addTax.addEventListener('input', function () {
                var subTotal = $('#subTotal').html();
                subTotal = parseInt(subTotal);

                var addTax = $('#addTax').val();
                if (addTax != "") {
                    addTax = parseInt(addTax);
                    var total = addTax + subTotal
                    $("#grandTotal").html(total + ".00");
                }

            });

        } grandTotal()





        // When user click on add button
        var description = document.getElementsByClassName('description')[0];
        var qty = document.getElementsByClassName('qty')[0]
        var unitPrice = document.getElementsByClassName('unitPrice')[0]
        var totalPrice = document.getElementsByClassName('totalPrice')[0]
        var discount = document.getElementsByClassName('discount')[0]
        var netPrice = document.getElementsByClassName('netPrice')[0];
        var AmntInWords = document.getElementById('AmntInWords')
        function addMoreBtn() {
            $('#addMoreInvoiceItemBtn').click(function () {

               
               
                if (description.value != "" && qty != "" && unitPrice.value != "" && totalPrice.value != "" && discount.value != "" && netPrice.value != "") {

                    var getDataFromSession = sessionStorage.getItem('data');
                    var data = {
                        description: description.value,
                        qty: qty.value,
                        unitPrice: unitPrice.value,
                        totalPrice: totalPrice.value,
                        discount: discount.value,
                        netPrice: netPrice.value
                    }
                    if (getDataFromSession == null) {
                        var tableData = [];
                        tableData.push(data)
                        sessionStorage.setItem('data', JSON.stringify(tableData))
                    } else {
                        getDataFromSession = JSON.parse(getDataFromSession);
                        getDataFromSession.push(data)
                        sessionStorage.setItem('data', JSON.stringify(getDataFromSession))

                    }

                    description.value = ""
                    qty.value = ""
                    unitPrice.value = ""
                    totalPrice.value = ""
                    discount.value = ""
                    netPrice.value = ""

                    sessionData();

                }

                subTotalPrice();
                grandTotal()
            })

        } addMoreBtn()




        // automatic generate unite price and total price
        setInterval(function () {
            totalPrice.value = qty.value * unitPrice.value
        }, 500)
        setInterval(function () {
            netPrice.value = totalPrice.value - discount.value
        }, 500)








        // here if user want to dlete his saved data
        setInterval(function () {

            var deleteInvoiceItemBtn = document.getElementsByClassName('deleteInvoiceItemBtn');
            if (deleteInvoiceItemBtn) {
                var data = sessionStorage.getItem('data')
                data = JSON.parse(data)
                deleteInvoiceItemBtn = Array.from(deleteInvoiceItemBtn);
                deleteInvoiceItemBtn.forEach(function (btn, index) {
                    btn.addEventListener('click', function () {
                        console.log(index)
                        var currentData = data[index];
                        data.splice(index, 1)
                        sessionStorage.setItem('data', JSON.stringify(data));
                        sessionData();
                        subTotalPrice();
                        grandTotal()
                    });

                })

            };

        }, 1000);






        // submit form
        var invoiceForm = document.getElementById('invoiceForm').elements;
        invoiceForm = Array.from(invoiceForm);
        invoiceForm.forEach(function (input, index) {
            if (input.name == "email") {

                input.addEventListener('blur', function () {

                    function validateEmail(email) {
                        var re = /\S+@\S+\.\S+/;
                        return re.test(email);
                    };

                    var validEmail = validateEmail(input.value)
                    if (validEmail == true) {
                        input.style.border = "1px solid lightgray"
                    } else {
                        input.style.border = "1px solid red"
                    }

                });
            }

            if (input.name == "phone") {

                input.addEventListener('blur', function () {
                    var regex = /^\d*[.]?\d*$/;
                    var value = input.value;
                    var result = regex.test(value)
                    if (result == true) {
                        if (value.length > 10) {
                            input.style.border = '1px solid lightgray';
                            $('#validNumErrorMsg').html('')

                        } else {
                            $('#validNumErrorMsg').html('please enter valid number')
                        }
                    } else {
                        input.style.border = "1px solid red";
                        $('#validNumErrorMsg').html('please enter valid number')
                    }
                });

            };

            if (input.name == "date") {
                input.addEventListener('focus', function () {
                    input.type = "date";
                });
            }


        });





        function generateInvoiceBtn() {
            $('#generateInviceBtn').click(function () {

                var name = $('#name').val();
                var address = $('#address').val();
                var email = $('#email').val();
                var phone = $("#phone").val();
                var ntnNumber = $("#ntnNumber").val();
                var invoiceNumber = $('#invoiceNumber').val();
                var incNumber = $("#incNumber").val();
                var date = $("#date").val();
                var AmntInWords = $('#AmntInWords').val();
                var paymentMethod = $('#paymentMethod').val();
                var AccountTitle = $('#AccountTitle').val();
                var AccountNumber = $('#AccountNumber').val();

                if (name != "" && address != "" && email != "" && phone != "" && ntnNumber != "" && invoiceNumber != "" && incNumber != "" && date != "" && AmntInWords != "" && paymentMethod != "" && AccountNumber != "" && AccountTitle != "") {

                    var tableData = sessionStorage.getItem('data');
                    tableData = JSON.parse(tableData);
                    var subTotal = $('#subTotal').html();
                    var grandTotal = $('#grandTotal').html()
                    var tax = $('#addTax').val()


                    if (tableData.length > 0) {

                        var obj = {
                            name: name,
                            address: address,
                            email: email,
                            phone: phone,
                            ntnNumber: ntnNumber,
                            invoiceNumber: invoiceNumber,
                            incNumber: incNumber,
                            date: date,
                            InvoiceItems: JSON.stringify(tableData),
                            subTotal: subTotal,
                            Tax: tax,
                            grandTotal: grandTotal,
                            AmntInWords: AmntInWords,
                            paymentMethod: paymentMethod,
                            AccountTitle: AccountTitle,
                            AccountNumber: AccountNumber
                        };

                        $.ajax({
                            type: 'POST',
                            url: `/generate-invoice`,
                            data: {
                                obj: JSON.stringify(obj)
                            },
                        });

                        sessionStorage.removeItem('data');
                        window.location.href = '/invoice-list'

                    } else {
                        alert('please add invoice items')
                    }

                } else {
                    alert('Please fill the form first')
                }


            })
        }
        generateInvoiceBtn();





        // select cutomers
        var selectCustomerList = document.getElementsByClassName('selectCustomerList')[0]

        selectCustomerList.addEventListener('change', function () {

            if (selectCustomerList.value == "true") {
                window.location.href = `/generate-invoice`;
            } else if (selectCustomerList.value == "false") {
                window.location.href = `/generate-invoice`;
            } else {
                window.location.href = `/generate-invoice/${selectCustomerList.value}`;
            }

        })

        // checking if their is current user bcz I want to add that same user in to select option

    })

</script>

</html>